<form action="/random/results">
<div>
  <label for="max">Minimum</label>
  <input id="max" type="text" name="users_min" placeholder="E.g. 1.5">
</div>
 
 <div>
  <label for="min">Maximum</label>
  <input id="min" type="text" name="users_max" placeholder="E.g. 2.5">

</div>

<button>
    Pick random number
  </button>
</form>
